<div class="content-wrap container">
  <h1>Retrieve your booking</h1>
  <hr />
  <p>You can find your booking by filling out your family name and the booking code in your booking confirmation.</p>
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="tripForm">
    <div class="form-group">
      <label>Booking code</label>
      <input class="form-control"
        type="text"
        formControlName="bookingCode"
        placeholder="Booking code">
      <div *ngIf="formErrors.bookingCode && tripForm.get('bookingCode').touched" class="alert alert-danger">
        {{ formErrors.bookingCode }}
      </div>
    </div>
    <div class="form-group">
      <label>Family name</label>
      <input class="form-control"
        type="text"
        formControlName="lastName"
        placeholder="Family name">
      <div *ngIf="formErrors.lastName && tripForm.get('lastName').touched" class="alert alert-danger">
        {{ formErrors.lastName }}
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" type="submit" [disabled]="tripForm.invalid">
        Retrieve booking
      </button>
    </div>
  </form>
</div>
<div class="ft-results container">
  <div *ngIf="submitted && foundTrip"><pre>{{ foundTrip | json }}</pre></div>
  <div *ngIf="submitted && !foundTrip">There is no booking that match your request.</div>
</div>
<div class="ft-hint container">
  <h4>Hint</h4>
  <p>There are bookings inside mock data with the next parameters (case sensitive).</p>
  <div class="row row-header">
    <div class="col-xs-6">Booking code:</div>
    <div class="col-xs-6">Family name:</div>
  </div>
  <div class="row">
    <div class="col-xs-6">PZIGZ3</div>
    <div class="col-xs-6">HESP</div>
  </div>
  <div class="row">
    <div class="col-xs-6">TEST2</div>
    <div class="col-xs-6">Test</div>
  </div>
  <div class="row">
    <div class="col-xs-6">TEST22</div>
    <div class="col-xs-6">Smith</div>
  </div>
</div>