header {
  text-align: center;
  padding: 1.3rem 0;
  color: #fff;
  background: url(./assets/img/af_pattern_bg.png) no-repeat scroll 0 0 #123e82;

  .header-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
main {
  padding: 5rem 0;
}
@media (max-width: 500px) {
  main {
    padding: 1rem 0;
  }
}